<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="lampenwelt" translate="label" sortOrder="999">
			<label>Lampenwelt</label>
		</tab>
		<section id="integration" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Integration</label>
			<tab>lampenwelt</tab>
			<resource>Lampenwelt_Integration::config_lampenwelt_integration</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="is_enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
